export(phewas, mapICD9toPheWAS, mapPheWAStoExclusions, createPhewasTable, phenotypePlot, phewasManhattan, phenotypeManhattan, shiny, generateExample, addPhewasDescription, phewasMeta, phewasMetaModels, restrictPhewasByGender, addPhewasGroups)
import(dplyr,tidyr, ggplot2)
